@model Application.Responses.ResponseModelUsuario

@{
    Layout = null;
    var NmCurso = ViewBag.NmCurso ?? String.Empty;
    var NmTurma = ViewBag.NmTurma ?? String.Empty;
    // var imgSrc = (Model.DsFoto != null && Model.DsFoto.Length > 0) ? $"data:image/jpeg;base64,{Convert.ToBase64String(Model.DsFoto)}" : String.Empty;
    var imgSrc = String.Empty;
}

@* @Html.HiddenFor(model => model.CdUsuario)
@Html.HiddenFor(model => model.DsCpf)
 *@

<link rel="stylesheet" href="~/css/Matricula/InfoAluno.css">
<link rel="stylesheet" href="~/css/Matricula/InfoMatricula.css">

<div id="backgroundConteudoModal"></div>
<div id="divInformacaoAluno">
    <div id="divTituloAluno">
        <button id="btnVoltarModal" onclick="voltarAluno()">
            <i class="fa-solid fa-angle-left arrow-icon">   </i>
        </button>
        <h5 class="linear1"><b>Aluno: </b></h5>
        <p> </p>
    </div>

    <div id="divConteudoAluno">
        <div id="divImgAluno">
            @if (!String.IsNullOrEmpty(imgSrc)) {
                <img height="122" width="122" src="@imgSrc" alt="Foto do Aluno" />
            } else {
                <img height="122" width="122" />
            }

            <div>
                <button id="btnTrocarFoto"><b class="linear1">Trocar foto</b></button>
                <button id="btnExcluirFoto"><b>Excluir foto</b></button>
            </div>
        </div>

        <div id="divNomeAluno">
            <label for="divNomeAluno" class="linear1">Nome:</label><br />
            <input id="txtNomeAluno" class="txtInfoAluno" type="text" placeholder="" disabled />
        </div>

        <div id="divEmailAluno">
            <label for="divEmailAluno" class="linear1">Email:</label><br />
            <input id="txtEmailAluno" class="txtInfoAluno" type="text" placeholder="" disabled />
        </div>

        <div id="divGrupoPC1">
            <div id="divGeneroAluno">
                <label for="divGeneroAluno" class="linear1">Gênero:</label><br />
                <select id="txtGeneroAluno" class="txtInfoAluno" disabled>
                    <option value="0">Selecione</option>
                    <option value="1">Feminino</option>
                    <option value="2">Masculino</option>
                </select>
            </div>

            <div id="divNascimentoAluno">
                <label for="divNascimentoAluno" class="linear1">Nascimento:</label><br />
                <input id="txtNascimentoAluno" class="txtInfoAluno" type="date" placeholder="" disabled />
            </div>

            <div id="divTelefoneAluno">
                <label for="divTelefoneAluno" class="linear1">Telefone:</label><br />
                <input id="txtTelefoneAluno" class="txtInfoAluno" type="text" placeholder="" disabled />
            </div>
        </div>

        <div id="divGrupoPC2">
            <div id="divCursoAluno">
                <label for="divCursoAluno" class="linear1">Curso atual:</label><br />
                <input id="txtCursoAluno" class="txtInfoAluno" value="@NmCurso" type="text" disabled />
            </div>

            <div id="divTurmaAluno">
                <label for="divTurmaAluno" class="linear1">Turma atual:</label><br />
                <input id="txtTurmaAluno" class="txtInfoAluno" value="@NmTurma" type="text" disabled />
            </div>
        </div>
    </div>
</div>
