@{
    var ListaAlunos = ViewBag.ListaAlunos ?? new List<Application.Responses.ResponseModelUsuario>();
}
<link rel="stylesheet" href="~/css/Turma/InfoAluno.css">

<div id="divAlunosTurma">
    <div id="TituloInfoAula">
        <div id="TituloBotaoAula">
            <h3 class="linear1"><b>Alunos </b></h3>
        </div>
        <span id="msgAluno" class="linear1"><b>Clique no aluno para ver suas informações!</b></span>
        <span id="msgMobileAluno" class="linear1"><b>Aperte no aluno para ver suas informações!</b></span>
    </div>

    <div id="divListaAlunoTurma">
        <div id="listaAlunos">
            <div>
                @foreach (Application.Responses.ResponseModelUsuario item in ListaAlunos) {
                    <div>
                        <div id="nmAlunoLista" onclick="verInfoAluno('@item.CdUsuario')">@item.NmUsuario</div>
                        <div id="divBotaoAluno">
                            <button id="btnDesvincular" onclick="carregarDesvincularAluno('@item.CdUsuario', '@item.NmUsuario')">Desvincular</button>
                        </div>
                    </div>
                }

                @if (ViewBag.ListaAlunos.Count == 0) {
                    <p class="linear1"><b>Não há alunos na turma.</b></p>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function verInfoAluno() {
        $.ajax({
            url: '@Url.Action("CarregarInfoAluno", "Turma")',
            type: 'GET',
            async: true,
            success: function (data) {
                $('#_divInfoAluno').html(data);

                $('#backgroundConteudoModal').css('display', 'block');
                $('#divInformacaoAluno').css('display', 'flex');
            }
        });
    }
</script>