@using WEB.Models.Curso
@{
    Layout = "_Layout";
    ViewData["Title"] = "Listar turmas";

    ViewData["PagePrev"] = new string[] { "Menu rápido", "Index", "Home" };
    ViewData["Page"] = "Turmas";

    var ListaCurso = ViewBag.ListaCurso ?? new List<CursoViewModel.ItemListaCurso>();
}

<link rel="stylesheet" href="~/css/Turma/Index.css">
<link rel="stylesheet" href="~/css/Turma/InfoTurma.css">

<div id="divPagina">
    <div id="divInicioPagina">
        <div id="divTopo">
            <button id="btnAdicionar" onclick="carregarAdicionarTurma(false)"><b class="linear1">Adicionar turma</b></button>
            <button id="btnAdicionarMobile" onclick="carregarAdicionarTurma(true)"><b class="linear1">Adicionar turma</b></button>
        </div>

        <div id="divBusca">
            <input id="txtBusca" type="text" placeholder="Digite o nome da turma..." />

            <div id="divFiltros">
                <div id="idData">
                    <div id="divInputData">
                        <label for="txtInicio"> De:</label>
                        <input id="txtInicio" type="date" />
                    </div>
                    <div id="divInputData">
                        <label for="txtFim">Até:</label>
                        <input id="txtFim" type="date" />
                    </div>
                </div>

                <div id="idCheckbox">
                    <div id="divInputCheckbox">
                        <label for="chkEmAndamento">Em Andamento</label>
                        <input id="chkEmAndamento" type="checkbox" checked />
                    </div>
                    <div id="divInputCheckbox">
                        <label for="chkFinalizado">Finalizado</label>
                        <input id="chkFinalizado" type="checkbox" checked />
                    </div>
                </div>

                <div id="idDropdown">
                    <div id="divInputDropdown">
                        <label for="divCursoTurma">Curso:</label>
                        <select id="divCursoTurma" class="txtInfoCurso">
                            <option value="0">Selecione</option>
                            @foreach (CursoViewModel.ItemListaCurso item in ListaCurso) {
                                <option value="@item.cdCurso">@item.nmCurso</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div id="divPesquisar">
                <button id="btnFiltrosMobile" onclick="toggleFiltros()">
                    <b class="linear1">Filtros</b>
                    <i id="arrowIcon" class="fa fa-angles-up"></i>
                </button>
                <button id="btnPesquisar" onclick="carregarListaPadrao()"><b class="linear1">Pesquisar</b></button>
            </div>
        </div>
    </div>

    <div id="msgListaTurma" class="divMsgSelecione">
        <span class="linear1">Digite o nome da turma e aperte em “Pesquisar!”</span>
    </div>

    <div id="divOrganizarLista">
        <div id="divOrganizarMensagem">
            <div id="divTituloLista" class="linear1"><b>Turmas:</b></div>
            <div id="divMensagem" class="linear1">Clique na turma para ver suas informações!</div>
        </div>
        <div id="divListaTurma"></div>
    </div>

    <div id="conteudoModal">
        <div id="divTitInfoTurma">
            <button id="btnVoltarModal" onclick="voltarMobile()">
                <i class="fa-solid fa-angle-left arrow-icon">   </i>
            </button>
            <span class="linear1">Informações da turma</span>
            <div id="divBotoesDinamico">
                <button id="btnParar" onclick="carregarPararInscricoes()"><b class="linear1">Encerrar matrícula</b></button>
                <button id="btnRetomar" onclick="carregarRetomarInscricoes()"><b class="linear1">Habilitar matrícula</b></button>
                <button id="btnFinalizar" onclick="carregarFinalizarTurma()"><b style="color: white;">Finalizar turma</b></button>
                <button id="btnReativar" onclick="carregarReativarTurma()"><b class="linear1">Reativar turma</b></button>
            </div>
        </div>

        <div id="divInfoModal">
            <div id="msgInfoTurma" class="divMsgSelecione">
                <span class="linear1">Selecione uma turma para ver suas informações!</span>
            </div>

            <div id="divInfoTurma" style="display:none;"></div>

            @* <div id="divBotaoAdicionarMobile">
                <button id="btnConfirmarAdicionarMobile" onclick="adicionarTurma(true)"><b style="color: white;">Adicionar turma</b></button>
            </div>

            <div id="divFinalizarTurmaMobile">
                <b class="linear1">Tem certeza que deseja finalizar a turma:</b>
                <b class="linear1" id="nmTurma"></b>
                <b class="linear1">Não será possível utilizá-la.</b>
                <div id="divBotoesFinalizarTurmaMobile">
                    <button id="btnIgnorarFinalizarTurmaMobile" onclick="cancelarFinalizarTurma(true)"><b class="linear1">Não</b></button>
                    <button id="btnFinalizarTurmaMobile" onclick="finalizarTurma(true)"><b style="color: white;">Finalizar</b></button>
                </div>
            </div>

            <div id="divBotaoReativarTurmaMobile">
                <button id="btnReativarTurmaMobile" onclick="carregarReativarTurma(true)"><b class="linear1">Reativar</b></button>
            </div>

            <div id="divReativarTurmaMobile">
                <b class="linear1">Tem certeza que deseja reativar a turma:</b>
                <b class="linear1" id="nmTurmaHab"></b>
                <b class="linear1">A turma poderá ser utilizada novamente.</b>
                <div id="divBotoesReativarTurmaMobile">
                    <button id="btnIgnorarReativarTurmaMobile" onclick="cancelarReativarTurma(true)"><b class="linear1">Não</b></button>
                    <button id="btnConfirmarReativarTurmaMobile" onclick="reativarTurma(true)"><b style="color: white;">Reativar</b></button>
                </div>
            </div>

            <div id="divBotaoRetomarInscricaoMobile">
                <button id="btnRetomarInscricaoTurmaMobile" onclick="carregarRetomarInscricoes(true)"><b class="linear1">Retomar inscrições</b></button>
            </div>

            <div id="divRetomarInscricaoMobile">
                <b class="linear1">Tem certeza que deseja retomar as inscrições da turma:</b>
                <b class="linear1" id="nmTurmaHab"></b>
                <div id="divBotoesRetomarInscricaoMobile">
                    <button id="btnIgnorarRetomarInscricaoMobile" onclick="cancelarRetomarInscricoes(true)"><b class="linear1">Não</b></button>
                    <button id="btnConfirmarRetomarInscricaoMobile" onclick="retomarInscricoes(true)"><b style="color: white;">Reativar</b></button>
                </div>
            </div>

            <div id="divBotaoPararInscricaoMobile">
                <button id="btnPararInscricaoTurmaMobile" onclick="carregarPararInscricoes(true)"><b class="linear1">Parar inscrições</b></button>
            </div>

            <div id="divPararInscricaoMobile">
                <b class="linear1">Tem certeza que deseja Parar as inscrições da turma:</b>
                <b class="linear1" id="nmTurmaHab"></b>
                <div id="divBotoesPararInscricaoMobile">
                    <button id="btnIgnorarPararInscricaoMobile" onclick="cancelarPararInscricoes(true)"><b class="linear1">Não</b></button>
                    <button id="btnConfirmarPararInscricaoMobile" onclick="pararInscricoes(true)"><b style="color: white;">Reativar</b></button>
                </div>
            </div> *@
        </div>
    </div>
</div>

<script type="text/javascript">
    window.location.hash = '';
    let infoTurmaTemp;

    document.addEventListener("DOMContentLoaded", carregarListaPadrao);
    document.addEventListener("DOMContentLoaded", checkAdicionar);

    function toggleFiltros() {
        const filtros = document.getElementById('divFiltros');
        filtros.classList.toggle('hidden');
        arrowIcon.classList.toggle('up');
    }

    function checkAdicionar() {
        if ('@ViewBag.IcAdicionar' == 'True') {
            if (window.matchMedia("(max-width: 1200px)").matches) {
                carregarAdicionarTurma(true);
            } else {
                carregarAdicionarTurma();
            }
        }
    }

    function carregarListaPadrao(atualizarInfoTurma = true, PaginaAtual = 1) {
        event.preventDefault();

        if (atualizarInfoTurma) {
            $('#divInfoTurma').empty();
            $('#divInfoTurma').hide();
            $('#msgInfoTurma').show();
        }

        $('#divListaTurma').empty();
        $('#msgListaTurma').show();

        let Busca = $('#txtBusca').val();

        let IcFinalizado = null;
        if (!$('#chkEmAndamento').is(":checked") && !$('#chkFinalizado').is(":checked")) {
            alert('Selecione ao menos um filtro!');
            return;
        }

        if (!$('#chkEmAndamento').is(":checked") && $('#chkFinalizado').is(":checked")) {
            IcFinalizado = true;
        }
        if ($('#chkEmAndamento').is(":checked") && !$('#chkFinalizado').is(":checked")) {
            IcFinalizado = false;
        }

        let dtInicial = $("#txtInicio").val();
        let dtFinal = $("#txtFinal").val();
        let cursoId = $('#divCursoTurma').val();
        if (cursoId == 0) {
            cursoId = null;
        }

        $.ajax({
            url: '@Url.Action("ListarTurmas", "Turma")',
            type: 'GET',
            async: true,
            data: {
                PaginaAtual: PaginaAtual,
                Busca: Busca,
                IcFinalizado: IcFinalizado,
                DtInicial: dtInicial,
                DtFinal: dtFinal,
                CursoId: cursoId
            },
            success: function (data) {
                $('#msgListaTurma').hide();
                $('#divListaTurma').html(data);
            }
        });
    }

    function carregarInfoPadrao(param) {
        event.preventDefault();
        $('#conteudoModal').css('display', 'flex')
        $('#backgroundModal').css('display', 'block');
        $('#btnFinalizar').css('display', 'flex');
        $('#divBotoesEditarMobile').css('display', 'none');
        $('#divTitInfoTurma').css('justify-content', 'space-between');
        $('#divTitInfoTurma > span').html("Informação da turma");


        if (window.matchMedia("(max-width: 1200px)").matches) {
            $('#divBotoesEditarMobile').css('display', 'flex');
            $('#divBotoesEdicaoMobile').css('display', 'none');
            $('#divFinalizarTurmaMobile').css('display', 'none');
            $('#divBotaoReativarTurmaMobile').css('display', 'none');
            $('#divReativarTurmaMobile').css('display', 'none');
            $('#divBotaoAdicionarMobile').css('display', 'none');
            $('#btnFinalizar').css('display', 'none');
            $('#btnReativar').css('display', 'none');
            $('#btnParar').css('display', 'none');
            $('#btnRetomar').css('display', 'none');
            $('#divTitInfoTurma').css('justify-content', 'flex-start');
        }

        $('#divInfoTurma').empty();
        $('#divInfoTurma').hide();
        $('#msgInfoTurma').show();

        let Busca = $('#txtBusca').val();

        $.ajax({
            url: '@Url.Action("CarregarInfoTurma", "Turma")',
            type: 'GET',
            async: true,
            data: {
                id: param
            },
            success: function (data) {
                $('#msgInfoTurma').hide();
                $('#divInfoTurma').html(data);
                $('#divInfoTurma').show();
            }
        });
    }

    function carregarAdicionarTurma(mobile = false) {
        $('#conteudoModal').css('display', 'flex')
        $('#backgroundModal').css('display', 'block');

        if (window.matchMedia("(max-width: 1200px)").matches) {
            $('#divBotoesEditarMobile').css('display', 'none');
            $('#divBotoesEdicaoMobile').css('display', 'none');
            $('#divFinalizarTurmaMobile').css('display', 'none');
            $('#divBotaoReativarTurmaMobile').css('display', 'none');
            $('#divReativarTurmaMobile').css('display', 'none');
            $('#divBotaoAdicionarMobile').css('display', 'flex');
        }

        $.ajax({
            url: '@Url.Action("CarregarAdicionarTurma", "Turma")',
            type: 'GET',
            async: true,
            success: function (data) {
                $('#msgInfoTurma').hide();
                $('#divInfoTurma').html(data);
                $('#divInfoTurma').show();

                if (mobile) {
                    $('#divBotaoAdicionar').css('display', 'none');
                } else {
                    $('#divBotaoAdicionar').css('display', 'flex');
                }

                $('#divBotoesEditar').css('display', 'none');

                $('#txtNomeTurma, #txtDescricaoTurma, #txtCriacao, #ddlCurso, #ddlProfessor')
                    .css('background-color', '#FFFFFF')
            }
        });
    }

    function adicionarTurma(mobile = false) {
        event.preventDefault();

        if (!validarCampos()) {
            return;
        }

        let ResponseModelTurma = new FormData();
        ResponseModelTurma.append('NmTurma', $('#txtNomeTurma').val());
        ResponseModelTurma.append('DsTurma', $('#txtDescricaoTurma').val());
        // ResponseModelTurma.append('DtInicio', $('#txtCriacao').val());
        ResponseModelTurma.append('CdProfessor', $('#ddlProfessor').val());
        ResponseModelTurma.append('CdCurso', parseInt($('#ddlCurso').val()));

        $.ajax({
            url: '@Url.Action("AdicionarTurma", "Turma")',
            type: 'POST',
            processData: false,
            contentType: false,
            data: ResponseModelTurma,
            dataType: 'JSON',
            async: true,
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message, 'Sucesso!');
                }
                else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }

                $('#conteudoModal').css('display', 'none');
                $('#backgroundModal').css('display', 'none');
                carregarListaPadrao(false);
            }
        });
    }

    function carregarEdicaoTurma(mobile = false) {
        event.preventDefault();

        if (mobile) {
            $('#divBotoesEditarMobile').css('display', 'none');
            $('#divBotoesEdicaoMobile').css('display', 'flex');
        }
        else {
            $('#btnEditar').css('display', 'none');
            $('#divBotoesEdicao').css('display', 'unset');
        }
        window.location.hash = '#divInformacoesTurma';

        $('#txtNomeTurma, #txtDescricaoTurma, #txtCriacao, #txtFinalizacao, #ddlProfessor, #ddlCurso')
            .css('background-color', '#FFFFFF')
            .removeAttr('disabled');

        infoTurmaTemp = {
            CdTurma: $('#CdTurma').val(),
            NmTurma: $('#txtNomeTurma').val(),
            DsTurma: $('#txtDescricaoTurma').val(),
            DtInicio: $('#txtCriacao').val(),
            DtFinalizacao: $('#txtFinalizacao').val(),
            CdProfessor: $('#ddlProfessor').val(),
            CdCurso: $('#ddlCurso').val(),
        }
    }

    function salvarInfoTurma(mobile = false) {
        event.preventDefault();

        if (!validarCampos()) {
            return;
        }

        infoTurmaTemp = {
            CdTurma: $('#CdTurma').val(),
            NmTurma: $('#txtNomeTurma').val(),
            DsTurma: $('#txtDescricaoTurma').val(),
            DtInicio: $('#txtCriacao').val(),
            DtFinalizacao: $('#txtFinalizacao').val(),
            CdProfessor: $('#ddlProfessor').val(),
            CdCurso: $('#ddlCurso').val(),
            DtFinalizacao: $('#txtFinalizacao').val(),
        }

        $.ajax({
            url: '@Url.Action("AtualizarInfoTurma", "Turma")',
            type: 'POST',
            async: true,
            data: infoTurmaTemp,
            success: function (data) {
                if (mobile) {
                    $('#divBotoesEditarMobile').css('display', 'flex');
                    $('#divBotoesEdicaoMobile').css('display', 'none');
                }
                else {
                    $('#btnEditar').css('display', 'flex');
                    $('#divBotoesEdicao').css('display', 'none');
                }

                window.location.hash = '';
                $('#txtNomeTurma, #txtDescricaoTurma, #txtCriacao, #txtFinalizacao, #ddlProfessor, #ddlCurso')
                    .css('background-color', '#DBD8D8')
                    .attr('disabled', true);

                carregarListaPadrao(false);
            }
        });
    }

    function carregarFinalizarTurma(mobile = false) {
        if ($('#btnCancelar').is(':visible')) {
            ExibirInfo('Finalize a edição!', 'Atenção!');
            return;
        }


        $('#backgroundConteudoModal').css('display', 'block');
        $('#divFinalizarTurma').css('display', 'flex');

        if (mobile) {
            $("#nmTurma").text($('#txtNomeTurma').val());
        } else {
            window.location.hash = '#divFinalizarTurma';
        }
    }

    function cancelarFinalizarTurma(mobile = false) {
        $('#backgroundConteudoModal').css('display', 'none');

        $('#divFinalizarTurma').css('display', 'none');
        window.location.hash = '';
    }

    function carregarReativarTurma(mobile = false) {
        if ($('#btnCancelar').is(':visible')) {
            ExibirInfo('Finalize a edição!', 'Atenção!');
            return;
        }

        $('#backgroundConteudoModal').css('display', 'block');
        $('#divReativarTurma').css('display', 'flex');

        if (mobile) {
            $("#nmTurmaHab").text($('#txtNomeTurma').val());
        } else {
            window.location.hash = '#divReativarTurma';
        }
    }

    function cancelarReativarTurma(mobile = false) {
        $('#backgroundConteudoModal').css('display', 'none');

        $('#divReativarTurma').css('display', 'none');
        window.location.hash = '';
    }

    function finalizarTurma(mobile = false) {
        let cdTurma = $('#CdTurma').val();

        $.ajax({
            url: '@Url.Action("DesativarTurma", "Turma")',
            type: 'POST',
            async: true,
            data: {
                CdTurma: cdTurma
            },
            success: function (data) {
                let response = data.response;
                let infoTurma = data.infoTurma;
                console.log(infoTurma);

                if (response.isSuccess) {
                    ExibirSucesso(response.message, 'Sucesso!');
                }
                else {
                    console.error('Erro interno.', response.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                } 
                
                if (window.matchMedia("(max-width: 1200px)").matches) {
                    $('#divBotoesEditarMobile').hide();
                    $('#divBotaoReativarTurmaMobile').show();
                    $('#divBotaoPararInscricaoMobile').hide();
                    $('#divBotaoRetomarInscricaoMobile').hide();
                } else {
                    $('#divBotaoReativarTurma').show();
                    $('#btnReativar').show();
                    $('#btnFinalizar').hide();
                    $('#btnParar').hide();
                    $('#btnRetomar').hide(); 
                    window.location.hash = '';
                }

                $('#divFinalizarTurma').css('display', 'none');
                $('#backgroundConteudoModal').css('display', 'none');

                let dateOnly = infoTurma.data.dtFim.split("T")[0];
                $('#txtFinalizacao').val(dateOnly);

                $('#divDataFinalizacao').css('display', 'unset');
                carregarListaPadrao(false);
            }
        });
    }

    function reativarTurma(mobile = false) {
        let cdTurma = $('#CdTurma').val();
        let IcAbertoMatricula = $('#IcAbertaMatricula').val();

        $.ajax({
            url: '@Url.Action("ReativarTurma", "Turma")',
            type: 'POST',
            async: true,
            data: {
                CdTurma: cdTurma
            },
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message, 'Sucesso!');
                }
                else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }

                if (window.matchMedia("(max-width: 1200px)").matches) {
                    $('#divBotaoReativarTurmaMobile').css('display', 'none');
                    $('#divBotoesEditarMobile').css('display', 'flex');
                } else {
                    $('#btnReativar').css('display', 'none');
                    $('#btnFinalizar').css('display', 'flex');
                    window.location.hash = '';
                }

                if (IcAbertoMatricula == 'True') {
                    if (window.matchMedia("(max-width: 1200px)").matches) {
                        $('#divBotaoPararInscricaoMobile').show();
                        $('#divBotaoRetomarInscricaoMobile').hide();
                    } else {
                        $('#btnParar').show();
                        $('#btnRetomar').hide();
                    }
                } else {
                    if (window.matchMedia("(max-width: 1200px)").matches) {
                        $('#divBotaoPararInscricaoMobile').hide();
                        $('#divBotaoRetomarInscricaoMobile').show();
                    } else {
                        $('#btnParar').hide();
                        $('#btnRetomar').show();
                    }
                }


                $('#divReativarTurma').css('display', 'none');
                $('#backgroundConteudoModal').css('display', 'none');

                $('#divDataFinalizacao').css('display', 'none');
                carregarListaPadrao(false);
            }
        });
    }

    function cancelarEdicaoTurma(mobile = false) {
        event.preventDefault();

        if (mobile) {
            $('#divBotoesEditarMobile').css('display', 'flex');
            $('#divBotoesEdicaoMobile').css('display', 'none');
        }
        else {
            $('#btnEditar').css('display', 'flex');
            $('#divBotoesEdicao').css('display', 'none');
        }

        $('#txtNomeTurma, #txtDescricaoTurma, #txtCriacao, #txtFinalizacao, #ddlProfessor, #ddlCurso')
            .css('background-color', '#DBD8D8')
            .attr('disabled', true);

        window.location.hash = '';

        $('#txtNomeTurma').val(infoTurmaTemp.NmTurma);
        $('#txtDescricaoTurma').val(infoTurmaTemp.DsTurma);
        $('#txtCriacao').val(infoTurmaTemp.DtInicio);
        $('#txtFinalizacao').val(infoTurmaTemp.DtFinalizacao);
        $('#ddlProfessor').val(infoTurmaTemp.CdProfessor);
        $('#ddlCurso').val(infoTurmaTemp.CdCurso);
    }

    function voltarMobile() {
        $('#conteudoModal').css('display', 'none');
        $('#backgroundModal').css('display', 'none');
    }

    function carregarNovaAula() {
        $.ajax({
            url: '@Url.Action("CarregarAdicionarAula", "Turma")',
            type: 'GET',
            async: true,
            success: function (data) {
                $('#_divInfoAula').html(data);

                $('#backgroundConteudoModal').css('display', 'block');
                $('#divInformacaoAula').css('display', 'flex');
            }
        });
    }

    function voltarAula() {
        $('#divInformacaoAula').css('display', 'none');
        $('#backgroundConteudoModal').css('display', 'none');
    }

    function voltarAluno() {
        $('#divInformacaoAluno').css('display', 'none');
        $('#backgroundConteudoModal').css('display', 'none');
    }
    
     function carregarDesvincularAluno(cd, nome) {
        //eu odeio minha vida...
        $('#backgroundConteudoModal').css('display', 'block');
        $('#divDesvincularAluno').css('display', 'flex');
        
        $('#cdAlunoDesvincular').text(cd)
        $("#nmAlunoDesvincular").text(nome);

        window.location.hash = '#divDesvincularAluno';
        //$('#divInformacaoAluno').css('display', 'none');
    }

    function cancelarDesvincularAluno() {
        $('#backgroundConteudoModal').css('display', 'none');
        $('#divDesvincularAluno').css('display', 'none');

        $('#cdAlunoDesvincular').text('')
        $("#nmAlunoDesvincular").text('');
        
        window.location.hash = '';
    }

    function desvincularAluno() {
        let cdTurma = $('#CdTurma').val();
        let cdAluno = $('#cdAlunoDesvincular').text();

        let TurmaAlunoViewModel = new FormData();
        TurmaAlunoViewModel.append('CdTurma', cdTurma);
        TurmaAlunoViewModel.append('CdAluno', cdAluno);

        $.ajax({
            url: '@Url.Action("DesvincularAluno", "Turma")',
            type: 'DELETE',
            async: true,
            processData: false,
            contentType: false,
            data: TurmaAlunoViewModel,
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message, 'Sucesso!');
                    carregarAulasTurma();
                    carregarAlunosTurma();
                    $('#cdAlunoDesvincular').text('')
                    $("#nmAlunoDesvincular").text('');

                    $('#backgroundConteudoModal').hide();
                    $('#divDesvincularAluno').hide();
                }
                else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }

                carregarListaPadrao(false);
            }
        });    
    }

    function cancelarRetomarInscricoes(mobile = false) {
        $('#backgroundConteudoModal').css('display', 'none');
        $('#divRetomarInscricao').css('display', 'none');

        window.location.hash = '';
    }

    function carregarRetomarInscricoes(mobile = false) {
        if ($('#btnCancelar').is(':visible')) {
            ExibirInfo('Finalize a edição!', 'Atenção!');
            return;
        }
        if ($('#btnCancelarMobile').is(':visible')) {
            ExibirInfo('Finalize a edição!', 'Atenção!');
            return;
        }
        $('#backgroundConteudoModal').css('display', 'block');
        $('#divRetomarInscricao').css('display', 'flex');

        window.location.hash = '#divRetomarInscricao';
    }

    function retomarInscricoes() {
        let cdTurma = $('#CdTurma').val();

        $.ajax({
            url: '@Url.Action("RetomarInscricao", "Turma")',
            type: 'POST',
            async: true,
            data: {
                CdTurma: cdTurma
            },
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message, 'Sucesso!');

                    if (window.matchMedia("(max-width: 1200px)").matches) {
                        $('#divBotaoPararInscricaoMobile').show();
                        $('#divBotaoRetomarInscricaoMobile').hide();
                    } else {
                        $('#btnParar').show();
                        $('#btnRetomar').hide();
                    }

                    $('#backgroundConteudoModal').css('display', 'none');
                    $('#divRetomarInscricao').css('display', 'none');
                }
                else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }

                carregarListaPadrao(false);
            }
        });
    }

    function cancelarPararInscricoes(mobile = false) {
        $('#backgroundConteudoModal').css('display', 'none');
        $('#divPararInscricao').css('display', 'none');

        window.location.hash = '';
    }

    function carregarPararInscricoes(mobile = false) {
        if ($('#btnCancelar').is(':visible')) {
            ExibirInfo('Finalize a edição!', 'Atenção!');
            return;
        }

        if ($('#btnCancelarMobile').is(':visible')) {
            ExibirInfo('Finalize a edição!', 'Atenção!');
            return;
        }

        $('#backgroundConteudoModal').css('display', 'block');
        $('#divPararInscricao').css('display', 'flex');

        window.location.hash = '#divPararInscricao';
    }

    function pararInscricoes() {
        let cdTurma = $('#CdTurma').val();

        $.ajax({
            url: '@Url.Action("PararInscricao", "Turma")',
            type: 'POST',
            async: true,
            data: {
                CdTurma: cdTurma
            },
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message, 'Sucesso!');

                    if (window.matchMedia("(max-width: 1200px)").matches) {
                        $('#divBotaoPararInscricaoMobile').hide();
                        $('#divBotaoRetomarInscricaoMobile').show();
                    } else {
                        $('#btnParar').hide();
                        $('#btnRetomar').show();
                    }

                    $('#backgroundConteudoModal').css('display', 'none');
                    $('#divPararInscricao').css('display', 'none');
                }
                else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }

                carregarListaPadrao(false);
            }
        });
    }

    function validarCampos() {
        if ($('#txtNomeTurma').val().length == 0) {
            ExibirInfo('O nome da turma é obrigatório!', 'Atenção!');
            return false;
        }

        if ($('#txtDescricaoTurma').val().length == 0) {
            ExibirInfo('A descrição é obrigatória!', 'Atenção!');
            return false;
        }

        // if (!$('#txtCriacao').val()) {
        //     ExibirInfo('A data de criação é obrigatória!', 'Atenção!');
        //     return false;
        // }

        if ($('#ddlCurso').find(":selected").val() == 0) {
            ExibirInfo('Selecione um curso!', 'Atenção!');
            return false;
        }

        if ($('#ddlProfessor').find(":selected").val() == 0) {
            ExibirInfo('Selecione um professor!', 'Atenção!');
            return false;
        }
        return true;
    }
</script>
