@{
    Layout = "_Layout";
    ViewData["Title"] = "Listar professores";

    ViewData["PagePrev"] = new string[] { "Menu rápido", "Index", "Home" };
    ViewData["Page"] = "Professores";
}

<link rel="stylesheet" href="~/css/Professor/Index.css">
<link rel="stylesheet" href="~/css/Shared/Livro.css">

<!-- CROP DA IMAGEM -->
<link rel="stylesheet" href="~/css/Shared/Crop.css">
<link rel="stylesheet" href="https://unpkg.com/cropperjs/dist/cropper.min.css">
<script src="https://unpkg.com/cropperjs"></script>

<div id="modalRecorteImagem">
    <div id="conteudoModelRecorteImagem">
        <span class="linear1">Recortar Imagem</span>
        <div><img id="imgParaRecorte" /></div>
        <button id="btnCancelarCorte" onclick="FecharModal()">Cancelar corte</button>
        <button id="btnConfirmarCorte" onclick="ConfirmarCorte()">Confirmar corte</button>
    </div>
</div>

<canvas id="canvasRecortado" style="display:none;"></canvas>

<!-- LIVRO -->

<div id="divLivro">
    <div id="capaLivro" class="MobileInvisible">
        <div id="paginaEsquerda" class="MobileInvisible">

            <div id="conteudoPagEsq" class="MobileInvisible">
                <div id="divTopo">
                    <div id="marcadorPagina"></div>
                    <button id="btnAdicionar" onclick="carregarAdicionarProfessor(false)"><b class="linear1">Adicionar professor</b></button>
                    <button id="btnAdicionarMobile" onclick="carregarAdicionarProfessor(true)"><b class="linear1">Adicionar professor</b></button>
                </div>

                <div id="divBusca">
                    <input id="txtBusca" type="text" placeholder="Digite o nome do professor..." />

                    <div id="divFiltros">
                        <div id="idCheckbox">
                            <label for="chkAtivos">Habilitados</label>
                            <input id="chkAtivos" type="checkbox" checked/>

                            <label for="chkInativos">Desabilitados</label>
                            <input id="chkInativos" type="checkbox" checked/>
                        </div>
                        <button id="btnPesquisar" onclick="carregarListaPadrao()"><b class="linear1">Pesquisar</b></button>
                    </div>
                    
                </div>

                <div id="msgListaProfessor" class="divMsgSelecione">
                    <span class="linear1">Digite o nome do professor e aperte em “Pesquisar!”</span>
                </div>

                <div id="divListaProfessor"></div>
            </div>

        </div>
        <div id="paginaDireita" class="MobileInvisible">

            <div id="divTitInfoProfessor">
                <button id="btnVoltarModal" onclick="voltarMobile()">
                    <i class="fa-solid fa-angle-left arrow-icon"></i>
                </button>
                <span class="linear1">Informações do professor</span>
            </div>

            <div id="conteudoPagDir" class="MobileInvisible">
                <div id="msgInfoProfessor" class="divMsgSelecione">
                    <span class="linear1">Selecione um professor para ver suas informações!</span>
                </div>

                <div id="divInfoProfessor" style="display:none;"></div>
            </div>

            <div id="divBotaoAdicionarMobile">
                <button id="btnConfirmarAdicionarMobile" onclick="adicionarProfessor(true)"><b style="color: white;">Adicionar professor</b></button>
            </div>

            <div id="divBotoesEditarMobile">
                <button id="btnDesativarMobile" onclick="carregarDesabilitarProfessor(true)"><b style="color: white;">Desativar professor</b></button>
                <button id="btnEditarMobile" onclick="carregarEdicaoProfessor(true)"><b class="linear1">Editar professor</b></button>
            </div>

            <div id="divBotoesEdicaoMobile">
                <button id="btnCancelarMobile" onclick="cancelarEdicaoProfessor(true)"><b class="linear1">Cancelar edição</b></button>
                <button id="btnSalvarMobile" onclick="salvarInfoProfessor(true)"><b>Salvar</b></button>
            </div>

            <div id="divDesabilitarProfessorMobile">
                <b class="linear1">Tem certeza que deseja desabilitar o professor:</b>
                <b class="linear1" id="nmProfessor"></b>
                <b class="linear1">Não será possível vinculá-lo à nenhuma turma.</b>
                <div id="divBotoesDesabilitarProfessorMobile">
                    <button id="btnIgnorarDesabilitarProfessorMobile" onclick="cancelarDesabilitarProfessor(true)"><b class="linear1">Não</b></button>
                    <button id="btnDesabilitarProfessorMobile" onclick="desabilitarProfessor(true)"><b style="color: white;">Desabilitar</b></button>
                </div>
            </div>

            <div id="divBotaoHabilitarProfessorMobile">
                <button id="btnHabilitarProfessorMobile" onclick="carregarHabilitarProfessor(true)"><b class="linear1">Habilitar professor</b></button>
            </div>

            <div id="divHabilitarProfessorMobile">
                <b class="linear1">Tem certeza que deseja habilitar o professor:</b>
                <b class="linear1" id="nmProfessorHab"></b>
                <b class="linear1">O professor poderá ser vinculado em turmas novamente.</b>
                <div id="divBotoesHabilitarProfessorMobile">
                    <button id="btnIgnorarHabilitarProfessorMobile" onclick="cancelarHabilitarProfessor(true)"><b class="linear1">Não</b></button>
                    <button id="btnConfirmarHabilitarProfessorMobile" onclick="habilitarProfessor(true)"><b style="color: white;">Habilitar</b></button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.location.hash = '';
    let infoProfessorTemp;
    
    document.addEventListener("DOMContentLoaded", carregarListaPadrao);
    document.addEventListener("DOMContentLoaded", checkAdicionar);

    function checkAdicionar() {
        if ('@ViewBag.IcAdicionar' == 'True') {
            if (window.matchMedia("(max-width: 1200px)").matches) {
                carregarAdicionarProfessor(true);
            } else {
                carregarAdicionarProfessor();
            }
        }
    }
    
    function carregarListaPadrao(atualizarInfo = true, PaginaAtual = 1) {
        event.preventDefault();

        if (atualizarInfo) {
            $('#divInfoProfessor').empty();
            $('#divInfoProfessor').hide();
            $('#msgInfoProfessor').show();
        }

        $('#divListaProfessor').empty();
        $('#msgListaProfessor').show();

        let Busca = $('#txtBusca').val();

        let IcHabilitadoTurma = null;
        if (!$('#chkAtivos').is(":checked") && !$('#chkInativos').is(":checked")) {
            ExibirInfo('Selecione ao menos um filtro!', 'Atenção!');
            return;
        }

        if (!$('#chkAtivos').is(":checked") && $('#chkInativos').is(":checked")) {
            IcHabilitadoTurma = false;
        }
        if ($('#chkAtivos').is(":checked") && !$('#chkInativos').is(":checked")) {
            IcHabilitadoTurma = true;
        }

        $.ajax({
            url: '@Url.Action("ListarProfessores", "Professor")',
            type: 'GET',
            async: true,
            data: {
                PaginaAtual: PaginaAtual,
                Busca: Busca,
                IcHabilitadoTurma: IcHabilitadoTurma
            },
            success: function (data) {
                $('#msgListaProfessor').hide();
                $('#divListaProfessor').html(data);
            }
        });
    }

    function carregarInfoPadrao(param) {
        event.preventDefault();

        const inputTrocarFoto = document.getElementById('inputTrocarFoto');
        if (inputTrocarFoto)
            document.getElementById('inputTrocarFoto').value = '';
        if (infoProfessorTemp)
            infoProfessorTemp = null;
        if (imagemBase64)
            imagemBase64 = null;

        if (window.matchMedia("(max-width: 1200px)").matches) {
            $('#paginaDireita').css('display', 'flex');
            $('#backgroundModal').css('display', 'block');
            $('#divBotoesEditarMobile').css('display', 'flex');
            $('#divBotoesEdicaoMobile').css('display', 'none');
            $('#divDesabilitarProfessorMobile').css('display', 'none');
            $('#divBotaoHabilitarProfessorMobile').css('display', 'none');
            $('#divHabilitarProfessorMobile').css('display', 'none');
            $('#divBotaoAdicionarMobile').css('display', 'none');
        }

        $('#divInfoProfessor').empty();
        $('#divInfoProfessor').hide();
        $('#msgInfoProfessor').show();

        let Busca = $('#txtBusca').val();

        $.ajax({
            url: '@Url.Action("CarregarInfoProfessor", "Professor")',
            type: 'GET',
            async: true,
            data: {
                DsCpf: param
            },
            success: function (data) {
                $('#msgInfoProfessor').hide();
                $('#divInfoProfessor').html(data);
                $('#divInfoProfessor').show();
            }
        });
    }

    function carregarAdicionarProfessor(mobile = false) {
        if (window.matchMedia("(max-width: 1200px)").matches) {
            $('#paginaDireita').css('display', 'flex')
            $('#backgroundModal').css('display', 'block');

            $('#divBotoesEditarMobile').css('display', 'none');
            $('#divBotoesEdicaoMobile').css('display', 'none');
            $('#divDesabilitarProfessorMobile').css('display', 'none');
            $('#divBotaoHabilitarProfessorMobile').css('display', 'none');
            $('#divHabilitarProfessorMobile').css('display', 'none');
            $('#divBotaoAdicionarMobile').css('display', 'flex');
        }

        $.ajax({
            url: '@Url.Action("CarregarAdicionarProfessor", "Professor")',
            type: 'GET',
            async: true,
            success: function(data) {
                $('#msgInfoProfessor').hide();
                $('#divInfoProfessor').html(data);
                $('#divInfoProfessor').show();

                if (mobile) {
                    $('#divBotaoAdicionar').css('display', 'none');
                } else {
                    $('#divBotaoAdicionar').css('display', 'flex');
                }

                $('#divBotoesEditar').css('display', 'none');
                
                $('#divImgUser > div:last-child').css('display', 'flex');

                $('#txtNomeProfessor, #txtEmailProfessor, #txtCPFProfessor, #txtGeneroProfessor, #txtNascimentoProfessor, #txtTelefoneProfessor, #txtSituacaoProfessor')
                    .css('background-color', '#FFFFFF')
            }
        });
    }

    function adicionarProfessor(mobile = false) {
        event.preventDefault();
        
        if (!validarCampos()) {
            return false;
        }

        if ($('#txtSituacaoProfessor').find(":selected").val() == -1) {
            ExibirInfo('Selecione sua situação!', 'Atenção!');
            return false;
        }

        let Habilitado = ($('#txtSituacaoProfessor').find(":selected").val() == 1) ? 'True' : 'False';

        let ResponseModelUsuario = new FormData();

        if (!!imagemBase64) {
            const fotoBlob = base64ToBlob(imagemBase64);
            ResponseModelUsuario.append('DsFoto', fotoBlob, 'foto.png');
        }

        ResponseModelUsuario.append('CdUsuario', $('#CdUsuario').val());
        ResponseModelUsuario.append('NmUsuario', $('#txtNomeProfessor').val());
        ResponseModelUsuario.append('DsEmail', $('#txtEmailProfessor').val());
        ResponseModelUsuario.append('DsCpf', $('#txtCPFProfessor').val().replace(/\D/g, ''));
        ResponseModelUsuario.append('DsTelefone', $('#txtTelefoneProfessor').val().replace(/\D/g, ''));
        ResponseModelUsuario.append('DsGenero', parseInt($('#txtGeneroProfessor').val()));
        ResponseModelUsuario.append('DtNascimento', $('#txtNascimentoProfessor').val());
        ResponseModelUsuario.append('IcHabilitadoTurma', Habilitado);

        $.ajax({
            url: '@Url.Action("AdicionarProfessor", "Professor")',
            type: 'POST',
            processData: false,
            contentType: false,
            data: ResponseModelUsuario,
            dataType: 'JSON',
            async: true,
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message + ". A senha gerada é o CPF.", 'Sucesso!');
                } else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }

                if (mobile) {
                    $('#divBotoesEditarMobile').css('display', 'flex');
                    $('#divBotaoAdicionarMobile').css('display', 'none');
                }
                else {
                    $('#divBotoesEditar').css('display', 'flex');
                    $('#divBotaoAdicionar').css('display', 'none');
                }

                $('#divImgUser > div:last-child').css('display', 'none');

                $('#txtNomeProfessor, #txtEmailProfessor, #txtCPFProfessor, #txtGeneroProfessor, #txtNascimentoProfessor, #txtTelefoneProfessor, #txtSituacaoProfessor')
                    .css('background-color', '#DBD8D8')
                    .attr('disabled', true);

                carregarListaPadrao(false);

                if (data.data.dsCpf != null && data.data.dsCpf != '')
                    carregarInfoPadrao(data.data.dsCpf);
            },
            error: function (xhr, status, error) {
                console.error('Erro na requisição AJAX!', error);
                ExibirErro('Erro ao salvar as informações.', 'Erro!');
                return;
            }
        });
    }

    function carregarEdicaoProfessor(mobile = false) {
        event.preventDefault();

        if (mobile) {
            $('#divBotoesEditarMobile').css('display', 'none');
            $('#divBotoesEdicaoMobile').css('display', 'flex');
        }
        else {
            $('#divBotoesEditar').css('display', 'none');
            $('#divBotoesEdicao').css('display', 'flex');
        }

        $('#divImgUser > div:last-child').css('display', 'flex');

        $('#txtNomeProfessor, #txtEmailProfessor, #txtCPFProfessor, #txtGeneroProfessor, #txtNascimentoProfessor, #txtTelefoneProfessor')
            .css('background-color', '#FFFFFF')
            .removeAttr('disabled');

        const imagem = document.getElementById('imgUser');
        const base64 = extrairBase64DeImagem(imagem);

        if (base64) {
            imagemBase64 = base64;
        }

        infoProfessorTemp = {
            CdUsuario: $('#CdUsuario').val(),
            DsCpf: $('#txtCPFProfessor').val(),
            NmUsuario: $('#txtNomeProfessor').val(),
            DsEmail: $('#txtEmailProfessor').val(),
            DsGenero: parseInt($('#txtGeneroProfessor').val()),
            DtNascimento: $('#txtNascimentoProfessor').val(),
            DsTelefone: $('#txtTelefoneProfessor').val(),
            DsFoto: imagemBase64
        }
    }

    function cancelarEdicaoProfessor(mobile = false) {
        event.preventDefault();

        if (mobile) {
            $('#divBotoesEditarMobile').css('display', 'flex');
            $('#divBotoesEdicaoMobile').css('display', 'none');
        }
        else {
            $('#divBotoesEditar').css('display', 'flex');
            $('#divBotoesEdicao').css('display', 'none');
        }

        $('#divImgUser > div:last-child').css('display', 'none');

        $('#txtNomeProfessor, #txtEmailProfessor, #txtCPFProfessor, #txtGeneroProfessor, #txtNascimentoProfessor, #txtTelefoneProfessor')
            .css('background-color', '#DBD8D8')
            .attr('disabled', true);

        if (infoProfessorTemp) {
            $('#txtNomeProfessor').val(infoProfessorTemp.NmUsuario);
            $('#txtCPFProfessor').val(infoProfessorTemp.DsCpf);
            $('#txtEmailProfessor').val(infoProfessorTemp.DsEmail);
            $('#txtGeneroProfessor').val(infoProfessorTemp.DsGenero);
            $('#txtNascimentoProfessor').val(infoProfessorTemp.DtNascimento);
            $('#txtTelefoneProfessor').val(infoProfessorTemp.DsTelefone);

            if (!!infoProfessorTemp.DsFoto) {
                const imgUser = document.getElementById('imgUser');
                imgUser.src = infoProfessorTemp.DsFoto;
                imgUser.style.display = 'block';
            }
            else {
                ExcluirFoto();
            }

            infoProfessorTemp = null;
        }
    }

    function salvarInfoProfessor(mobile = false) {
        event.preventDefault();

        if (!validarCampos()) {
            return false;
        }

        //Atualiza os valores pós edição
        infoProfessorTemp = {
            CdUsuario: $('#CdUsuario').val(),
            NmUsuario: $('#txtNomeProfessor').val(),
            DsEmail: $('#txtEmailProfessor').val(),
            DsCpf: $('#txtCPFProfessor').val(),
            DsGenero: parseInt($('#txtGeneroProfessor').val()),
            DtNascimento: $('#txtNascimentoProfessor').val(),
            DsTelefone: $('#txtTelefoneProfessor').val(),
            DsFoto: imagemBase64
        }

        let Habilitado = $('#IcHabilitadoTurma').val();

        let ResponseModelUsuario = new FormData();

        if (!!imagemBase64) {
            const fotoBlob = base64ToBlob(imagemBase64);
            ResponseModelUsuario.append('DsFoto', fotoBlob, 'foto.png');
        }

        ResponseModelUsuario.append('CdUsuario', infoProfessorTemp.CdUsuario);
        ResponseModelUsuario.append('NmUsuario', infoProfessorTemp.NmUsuario);
        ResponseModelUsuario.append('DsEmail', infoProfessorTemp.DsEmail);
        ResponseModelUsuario.append('DsCpf', infoProfessorTemp.DsCpf.replace(/\D/g, ''));
        ResponseModelUsuario.append('DsTelefone', infoProfessorTemp.DsTelefone.replace(/\D/g, ''));
        ResponseModelUsuario.append('DsGenero', infoProfessorTemp.DsGenero);
        ResponseModelUsuario.append('DtNascimento', infoProfessorTemp.DtNascimento);
        ResponseModelUsuario.append('IcHabilitadoTurma', Habilitado);

        $.ajax({
            url: '@Url.Action("AtualizarInfoProfessor", "Professor")',
            type: 'POST',
            processData: false,
            contentType: false,
            data: ResponseModelUsuario,
            dataType: 'JSON',
            async: true,
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message, 'Sucesso!');
                }
                else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }

                if (mobile) {
                    $('#divBotoesEditarMobile').css('display', 'flex');
                    $('#divBotoesEdicaoMobile').css('display', 'none');
                }
                else {
                    $('#divBotoesEditar').css('display', 'flex');
                    $('#divBotoesEdicao').css('display', 'none');
                }

                $('#divImgUser > div:last-child').css('display', 'none');

                $('#txtNomeProfessor, #txtEmailProfessor, #txtCPFProfessor, #txtGeneroProfessor, #txtNascimentoProfessor, #txtTelefoneProfessor')
                    .css('background-color', '#DBD8D8')
                    .attr('disabled', true);

                carregarListaPadrao(false);
                infoProfessorTemp = null;
            },
            error: function (xhr, status, error) {
                console.error('Erro na requisição AJAX!', error);
                ExibirErro('Erro ao salvar as informações.', 'Erro!');
                return;
            }
        });
    }

    function carregarDesabilitarProfessor(mobile = false) {
        if (mobile) {
            $("#nmProfessor").text($('#txtNomeProfessor').val());
            $('#divBotoesEditarMobile').css('display', 'none');
            $('#divDesabilitarProfessorMobile').css('display', 'flex');
        } else {
            $('#divBotoesEditar').css('display', 'none');
            $('#divDesabilitarProfessor').css('display', 'flex');
            window.location.hash = '#divDesabilitarProfessor';
        }
    }

    function cancelarDesabilitarProfessor(mobile = false) {
        if (mobile) {
            $('#divBotoesEditarMobile').css('display', 'flex');
            $('#divDesabilitarProfessorMobile').css('display', 'none');
        } else {
            $('#divBotoesEditar').css('display', 'flex');
            $('#divDesabilitarProfessor').css('display', 'none');
            window.location.hash = '';
        }
    }

    function carregarHabilitarProfessor(mobile = false) {
        if (mobile) {
            $("#nmProfessorHab").text($('#txtNomeProfessor').val());
            $('#divBotaoHabilitarProfessorMobile').css('display', 'none');
            $('#divHabilitarProfessorMobile').css('display', 'flex');
        } else {
            $('#divBotaoHabilitarProfessor').css('display', 'none');
            $('#divHabilitarProfessor').css('display', 'flex');
            window.location.hash = '#divHabilitarProfessor';
        }
    }

    function cancelarHabilitarProfessor(mobile = false) {
        if (mobile) {
            $('#divBotaoHabilitarProfessorMobile').css('display', 'flex');
            $('#divHabilitarProfessorMobile').css('display', 'none');
        } else {
            $('#divBotaoHabilitarProfessor').css('display', 'flex');
            $('#divHabilitarProfessor').css('display', 'none');
            window.location.hash = '';
        }
    }

    function desabilitarProfessor(mobile = false) {
        let cdProfessor = $('#CdUsuario').val();

        $.ajax({
            url: '@Url.Action("DesabilitarProfessor", "Professor")',
            type: 'POST',
            async: true,
            data: {
                CdUsuario: cdProfessor
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message, 'Sucesso!');
                }
                else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }

                if (mobile) {
                    $('#divBotaoHabilitarProfessorMobile').css('display', 'flex');
                    $('#divDesabilitarProfessorMobile').css('display', 'none');
                }
                else {
                    $('#divBotaoHabilitarProfessor').css('display', 'flex');
                    $('#divDesabilitarProfessor').css('display', 'none');
                    window.location.hash = '';
                }
                $("#txtSituacaoProfessor").val("Desabilitado");

                // $('#divImgUser > div:last-child').css('display', 'none');

                // $('#txtNomeProfessor, #txtEmailProfessor, #txtGeneroProfessor, #txtNascimentoProfessor, #txtTelefoneProfessor')
                //     .css('background-color', '#DBD8D8')
                //     .attr('disabled', true);

                carregarListaPadrao(false);
            },
            error: function (xhr, status, error) {
                console.error('Erro na requisição AJAX!', error);
                ExibirErro('Erro ao salvar as informações.', 'Erro!');
                return;
            }
        });
    }

    function habilitarProfessor(mobile = false) {
        let cdProfessor = $('#CdUsuario').val();

        $.ajax({
            url: '@Url.Action("HabilitarProfessor", "Professor")',
            type: 'POST',
            async: true,
            data: {
                CdUsuario: cdProfessor
            },
            dataType: 'JSON',
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message, 'Sucesso!');
                }
                else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }

                if (mobile) {
                    $('#divBotoesEditarMobile').css('display', 'flex');
                    $('#divHabilitarProfessorMobile').css('display', 'none');
                }
                else {
                    $('#divBotoesEditar').css('display', 'flex');
                    $('#divHabilitarProfessor').css('display', 'none');
                    window.location.hash = '';
                }
                $("#txtSituacaoProfessor").val("Habilitado");

                // $('#divImgUser > div:last-child').css('display', 'none');

                // $('#txtNomeProfessor, #txtEmailProfessor, #txtGeneroProfessor, #txtNascimentoProfessor, #txtTelefoneProfessor')
                //     .css('background-color', '#DBD8D8')
                //     .attr('disabled', true);

                carregarListaPadrao(false);
            },
            error: function (xhr, status, error) {
                console.error('Erro na requisição AJAX!', error);
                ExibirErro('Erro ao salvar as informações.', 'Erro!');
                return;
            }
        });
    }

    function voltarMobile() {
        event.preventDefault();

        $('#paginaDireita').css('display', 'none');
        $('#backgroundModal').css('display', 'none');
    }

    function validarCampos() {
        if ($('#txtCPFProfessor').val().replace(/\D/g, '').length != 11) {
            ExibirInfo('O CPF é obrigatório e precisa ser válido!', 'Atenção!');
            return false;
        }

        if ($('#txtNomeProfessor').val().length == 0) {
            ExibirInfo('O nome é obrigatório!', 'Atenção!');
            return false;
        }

        if ($('#txtEmailProfessor').val().length == 0) {
            ExibirInfo('O e-mail é obrigatório!', 'Atenção!');
            return false;
        }

        if ($('#txtGeneroProfessor').find(":selected").val() == 0) {
            ExibirInfo('Selecione um gênero!', 'Atenção!');
            return false;
        }

        if (!$('#txtNascimentoProfessor').val()) {
            ExibirInfo('A data é obrigatória!', 'Atenção!');
            return false;
        }

        return true;
    }

    // FOTOS

    let cropper;
    let imagemBase64;

    function TrocarFoto() {
        document.getElementById('inputTrocarFoto').click();

        document.getElementById('inputTrocarFoto').onchange = function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {

                    const imgParaRecorte = document.getElementById('imgParaRecorte');
                    imgParaRecorte.src = e.target.result;

                    document.getElementById('modalRecorteImagem').style.display = 'flex';
                                        
                    if (cropper) {
                        cropper.destroy();
                    }

                    cropper = new Cropper(imgParaRecorte, {
                        aspectRatio: 1,
                        viewMode: 1,
                        zoomable: false,
                    });

                };
                reader.readAsDataURL(file);
            }
        };
    }

    function ConfirmarCorte() {
        const canvas = cropper.getCroppedCanvas({
            width: 122,
            height: 122,
        });

        const imgUser = document.getElementById('imgUser');
        imgUser.src = canvas.toDataURL();
        imgUser.style.display = 'block';

        imagemBase64 = canvas.toDataURL('image/png');

        FecharModal();
    }

    function FecharModal() {
        document.getElementById('modalRecorteImagem').style.display = 'none';
        document.getElementById('inputTrocarFoto').value = '';
        cropper.destroy();
    }

    function ExcluirFoto() {
        const imgUser = document.getElementById('imgUser');
        imgUser.removeAttribute('src');
        imgUser.style.display = 'none';
        document.getElementById('inputTrocarFoto').value = '';
        imagemBase64 = null;

        if (cropper)
            cropper.destroy();
    }

    function extrairBase64DeImagem(elementoImagem) {
        const src = elementoImagem.src;
        if (src.startsWith('data:image/'))
            return src;
        else
            return null;
    }

    function base64ToBlob(base64) {
        const binaryString = atob(base64.split(',')[1]);
        const len = binaryString.length;
        const bytes = new Uint8Array(len);
        for (let i = 0; i < len; i++) {
            bytes[i] = binaryString.charCodeAt(i);
        }
        return new Blob([bytes], { type: 'image/png' });
    }

</script>