@model WEB.Models.EsqueciSenha.EsqueciSenhaViewModel

@{
    Layout = "_LayoutInicio";
    ViewData["Title"] = "Esqueci a senha";
}

<link rel="stylesheet" href="~/css/EsqueciSenha/ConfimarCodigo.css">

<div id="Rota">
    <a onclick="redirecionarParaLogin()" style="cursor: pointer"><span>Login</span></a>
    <span>> Esqueci a senha</span>
</div>

<div id="Titulo">
    <p>Esqueci a senha</p>
</div>

<form id="ConfirmarCodigoForm">
    <p>Se o e-mail digitado for vinculado à uma conta, você receberá um código de 6 dígitos. Digite-o abaixo:</p>
    <div id="Codigo">
        <input id="txtChar1" type="text" placeholder="1" maxlength="1" tabindex="1" oninput="this.value = this.value.toUpperCase(); goToNext(1)"/>
        <input id="txtChar2" type="text" placeholder="2" maxlength="1" tabindex="2" oninput="this.value = this.value.toUpperCase(); goToNext(2)"/>
        <input id="txtChar3" type="text" placeholder="3" maxlength="1" tabindex="3" oninput="this.value = this.value.toUpperCase(); goToNext(3)"/>
        <input id="txtChar4" type="text" placeholder="4" maxlength="1" tabindex="4" oninput="this.value = this.value.toUpperCase(); goToNext(4)"/>
        <input id="txtChar5" type="text" placeholder="A" maxlength="1" tabindex="5" oninput="this.value = this.value.toUpperCase();"/>
    </div>
    <span id="msgErroLogin" style="display: none">Código inválido.</span>
    <div id="divBotoes">
        <button id="btnTrocarEmail" onclick="redirecionarParaEmail()">Trocar e-mail</button>
        <button id="btnConfimarCodigo" onclick="enviarCodigo()">Confirmar código</button>
    </div>
</form>

<div id="divReenviar">
    <span>Não recebeu o código?</span>
    <a href="#"><span>reenviar.</span></a>
</div>

<script type="text/javascript">
    function goToNext(value) {
        let txt = 'txtChar' + (value + 1);
        document.getElementById(txt).focus();
    }

    function redirecionarParaLogin() {
        window.location.href = '@Url.Action("Index", "Login")';
    }

    function redirecionarParaEmail() {
        event.preventDefault();
        window.location.href = '@Url.Action("Index", "EsqueciSenha")';
    }

    function enviarCodigo() {
        event.preventDefault();
        let strValor = "";
        for (let i = 1; i <= 5; i++) {
            strValor += document.getElementById('txtChar' + i).value;
        }

        $.ajax({
            url: '@Url.Action("ConfirmarCodigo", "EsqueciSenha")',
            type: 'POST',
            data: {
                Token: strValor,
                Email: '@Model.Email'
            },
            success: function (response) {
                if (response == true)
                    window.location.href = '@Url.Action("RedefinirSenha", "EsqueciSenha")?email=' + encodeURIComponent('@Model.Email');
                else{
                    var mesagemErro = document.getElementById("msgErroLogin");
                    mesagemErro.style.display = 'flex'
                }
            },
            error: function () {
                alert("Houve algum erro ao enviar o código. Entre em contato com o suporte.");
            }
        });
    }
</script>