@using WEB.Models.Genero
@using WEB.Models.Shared
@{
    Layout = null;
    var ListaGenero = ViewBag.ListaGenero ?? new List<GeneroViewModel.ItemListaGenero>();
    var ListaTurmas = ViewBag.ListaTurmas ?? new List<ListarPadraoViewModel.ItemListaPadrao>();

}

<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inscrição - Nova Era</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Inscricao/Index.css">
    <link rel="stylesheet" href="~/css/site.css">
    <!-- MONTSERRAT -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- ÍCONES -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/Toastr/toastr.css" />
    <link rel="stylesheet" href="~/css/Toastr/toastr.min.css" />
</head>
<body>

    <div id="logoNovaEra">
        <img src="~/img/logo_inscricao.png" alt="Logo do Nova Era"/>
    </div>

    <div id="divForm">
        <h2 class="linear1">Inscrição</h2>

        <div id="divNome">
            <label for="divNome" class="linear1">Nome:</label><br />
            <input id="txtNome" class="txtInfo" type="text" placeholder="Digite o nome..." />
        </div>

        <div id="divGrupo">
            <div id="divEmail">
                <label for="divEmail" class="linear1">Email:</label><br />
                <input id="txtEmail" class="txtInfo" type="text" placeholder="Digite o e-mail..." />
            </div>

            <div id="divCPF">
                <label for="divCPF" class="linear1">CPF:</label><br />
                <input id="txtCPF" class="txtInfo" type="text" placeholder="Digite o CPF..." />
            </div>
        </div>

        <div id="divGrupo2">
            <div id="divGenero">
                <label for="txtGenero" class="linear1">Gênero:</label><br />
                <select id="txtGenero" class="txtInfo">
                    <option value="0">Selecione</option>
                    @foreach (GeneroViewModel.ItemListaGenero item in ListaGenero) {
                        <option value="@item.CdGenero">@item.NmGenero</option>
                    }
                </select>
            </div>

            <div id="divNascimento">
                <label for="divNascimento" class="linear1">Nascimento:</label><br />
                <input id="txtNascimento" class="txtInfo" type="date" />
            </div>

            <div id="divTelefone">
                <label for="divTelefone" class="linear1">Telefone:</label><br />
                <input id="txtTelefone" class="txtInfo" type="text" placeholder="Digite o telefone..." />
            </div>
        </div>

        <div id="divLinha">
        </div>

        *A inscrição não confirma matrícula!
        <div id="divCurso">
            <label for="divCurso" class="linear1">Turma que queira fazer:</label><br />
            <select id="txtCurso" class="txtInfo">
                <option value="0">Selecione</option>
                @foreach (ListarPadraoViewModel.ItemListaPadrao item in ListaTurmas) {
                    <option value="@item.Id">@item.Text</option>
                }
            </select>
        </div>

        <div id="divBotaoInscrever">
            <button id="btnInscrever" onclick="realizarInscricao()">Inscrever</button>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/ff8bf52a33.js" crossorigin="anonymous"></script>

    <script src="~/js/toastr.js"></script>
    <script src="~/js/toastr.min.js"></script>

    <script type="text/javascript">
        toastr.options = {
            "timeOut": "5000",
            "positionClass": "toast-top-center",
            "closeButton": true,
            "progressBar": true
        };

        function ExibirInfo(message, titulo) {
            toastr.info(message, titulo, {
                timeOut: 5000,
                positionClass: 'toast-top-center',
                closeButton: true,
                progressBar: true
            });
        }

        function ExibirSucesso(message, titulo) {
            toastr.success(message, titulo, {
                timeOut: 3000,
                positionClass: 'toast-top-center',
                closeButton: true,
                progressBar: true
            });
        }

        function ExibirErro(message, titulo) {
            toastr.error(message, titulo, {
                timeOut: 5000,
                positionClass: 'toast-top-center',
                closeButton: true,
                progressBar: true
            });
        }

        function realizarInscricao() {
            if (!validarCampos()) {
                return;
            }

            $.ajax({
                url: '@Url.Action("ConfirmarInscricao", "Inscricao")',
                type: 'POST',
                async: true,
                data: {
                    DsNome: $('#txtNome').val(),
                    DsEmail: $('#txtEmail').val(),
                    DsCPF: $('#txtCPF').val().replace(/\D/g, ''),
                    CdGenero: $('#txtGenero').val(),
                    DtNascimento: $('#txtNascimento').val(),
                    DsTelefone: $('#txtTelefone').val().replace(/\D/g, ''),
                    CdTurma: $('#txtCurso').val()
                },
                success: function (data) {
                    console.log(data)
                    if (data.isSuccess) {
                        ExibirSucesso(data.message, 'Parabéns!');
                    }else{
                        ExibirErro(data.message, 'Atenção!');
                    }
                }
            });
        }

        function validarCampos() {
            if ($('#txtNome').val().length == 0) {
                ExibirInfo('O nome é obrigatório!','Atenção');
                return false;
            }

            if ($('#txtEmail').val().length == 0) {
                ExibirInfo('O e-mail é obrigatório!', 'Atenção');
                return false;
            }

            let CPF = $('#txtCPF').val().replace(/\D/g, '');
            if (CPF.length != 11 || !TestaCPF(CPF)) {
                ExibirInfo('O CPF é obrigatório e precisa ser válido!', 'Atenção');
                return false;
            }

            if ($('#txtGenero').find(":selected").val() == 0) {
                ExibirInfo('Selecione um gênero!', 'Atenção');
                return false;
            }

            if (!$('#txtNascimento').val()) {
                ExibirInfo('A data é obrigatória!', 'Atenção');
                return false;
            }

            if ($('#txtTelefone').val().replace(/\D/g, '').length == 0) {
                ExibirInfo('O telefone é obrigatório!', 'Atenção');
                return false;
            }

            if ($('#txtCurso').find(":selected").val() == 0) {
                ExibirInfo('Selecione uma turma!', 'Atenção');
                return false;
            }
            return true;
        }

        function TestaCPF(strCPF) {
            var Soma;
            var Resto;
            Soma = 0;
            if (strCPF == "00000000000") return false;

            for (i = 1; i <= 9; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (11 - i);
            Resto = (Soma * 10) % 11;

            if ((Resto == 10) || (Resto == 11)) Resto = 0;
            if (Resto != parseInt(strCPF.substring(9, 10))) return false;

            Soma = 0;
            for (i = 1; i <= 10; i++) Soma = Soma + parseInt(strCPF.substring(i - 1, i)) * (12 - i);
            Resto = (Soma * 10) % 11;

            if ((Resto == 10) || (Resto == 11)) Resto = 0;
            if (Resto != parseInt(strCPF.substring(10, 11))) return false;
            return true;
        }

    </script>

    
    <script src="~/js/jquery.mask.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var phoneMaskBehavior = function (val) {
                return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00000';
            };
            var options = {
                onKeyPress: function (val, e, field, options) {
                    field.mask(phoneMaskBehavior.apply({}, arguments), options);
                }
            };
            $('#txtTelefone').mask(phoneMaskBehavior, options);
            $('#txtCPF').mask('000.000.000-00');
        });
    </script>

</body>
</html>
