@using WEB.Models.Response
@model ResponseModelAula

@{
    Layout = null;

    List<ResponseModelConteudo> ListaConteudo = ViewBag.ListaConteudo ?? new List<ResponseModelConteudo>();
}

<link rel="stylesheet" href="~/css/CadastroConteudo/InfoAula.css">

@Html.HiddenFor(model => model.cdAula)

<div id="backgroundConteudoModal"></div>
<div id="divInformacaoAula">
    <div id="divTituloAula">
        <button id="btnVoltarModal" onclick="voltarAula()">
            <i class="fa-solid fa-angle-left arrow-icon">   </i>
        </button>
        <h5 class="linear1"><b>Lista de arquivos</b></h5>
        <p> </p>
    </div>

    <div id="divConteudoAula">
        <div id="divTituloConteudoAula">
            <h3 class="linear1"><b>@Model.nmAula</b></h3>
            <h5 class="linear1"><b>@Model.dtAula.ToString("dd/MM/yyyy")</b></h5>
        </div>


        @if (ListaConteudo.Count > 0) {
@*             <p class="linear1" style="text-align: left;"><b>Clique no arquivo para ver suas informações!</b></p>
 *@            <table id="listaArquivos">
                <thead>
                    <tr>
                        <th id="nmArquivo">Nome</th>
                        <th id="nmTipo">Extensão</th>
@*                         <th id="nmTamanho">Tamanho</th>
 *@                        <th id="Info" style="display: none">Info</th>
                        <th id="baixar"></th>
                        <th id="deletar"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var Conteudo in ListaConteudo) {
                        <tr>
                            <td id="CelulaArquivo">@Conteudo.nmArquivo</td>
                            <td id="CelulaTipo">@Conteudo.dsExtensao</td>
@*                             <td id="CelulaTamanho">0MB</td>
 *@                            <td id="CelulaInfo" style="display: none">
                                <button id="btnInfo" onclick="carregarInfoModal('@Conteudo.nmArquivo', '@Conteudo.dsExtensao', '@Conteudo.dsConteudo')"><i class="fa fa-info"></i></button>
                            </td>
                            <td id="CelulaBaixar">
                                <button id="btnMatricular" onclick="downloadArquivo(@Conteudo.cdConteudo)"><i class="fa fa-download"></i></button>
                            </td>
                            <td id="CelulaDeletar">
                                <button id="btnDeletar" onclick="carregarDeletarArquivo(@Conteudo.cdConteudo, '@Conteudo.nmArquivo')"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        } else {
            <h5 class="linear1">Não há arquivos.</h5>
        }

    </div>

    <div id="divFooterModal">
        <button type="button" id="btnAdicionarArquivo" onclick="carregarAdicionarArquivo()">Adicionar arquivo</button>
    </div>
</div>

<div id="divDeletarArquivo">
    <b class="linear1">Tem certeza que deseja excluir o arquivo:</b>
    <b id="nmArquivoDeletar" class="linear1"></b>
    <div id="divBotoesDeletarArquivo">
        <button id="btnIgnorarDeletarArquivo" onclick="cancelarDeletarArquivo()"><b class="linear1">Não</b></button>
        <button id="btnDeletarArquivo" onclick="deletarArquivo()"><b style="color: white;">Deletar</b></button>
    </div>
</div>

<div id="divModalInfoMobile" style="display: none">
    <div id="divTituloModal">
        <button id="btnVoltarModal" onclick="voltarModalInfo()">
            <i class="fa-solid fa-angle-left arrow-icon">   </i>
        </button>
        <h5 class="linear1"><b>Informação do arquivo</b></h5>
        <p> </p>
    </div>


    <div id="divConteudoModal">
        <label for="txtNomeArquivoModal" class="linear1">Nome:</label>
        <input type="text" id="txtNomeArquivoModal" class="txtFormato" disabled />

        <label for="txtTipoArquivoModal" class="linear1">Tipo:</label>
        <input type="text" id="txtTipoArquivoModal" class="txtFormato" disabled />

        <label for="txtTamanhoArquivoModal" class="linear1">Tamanho:</label>
        <input type="text" id="txtTamanhoArquivoModal" class="txtFormato" value="0MB" disabled />

        <label for="txtDescricaoArquivoModal" class="linear1">Descrição:</label>
        <textarea type="text" id="txtDescricaoArquivoModal" class="txtFormato" disabled></textarea>
    </div>
</div>

<div id="_divAdicionarArquivo"></div>

<script type="text/javascript">

    function downloadArquivo(CdConteudo) {
        $.ajax({
            url: '@Url.Action("DownloadConteudo", "CadastroConteudo")',
            type: 'POST',
            data: { CdConteudo },
            dataType: 'JSON',
            async: true,
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message, 'Sucesso!');

                    // Processa o arquivo Base64
                    const arquivoBase64 = data.data.arquivo;
                    const nomeArquivo = data.data.nmArquivo;
                    const extensao = data.data.dsExtensao;

                    // Decodifica o Base64 e cria um Blob
                    const bytes = atob(arquivoBase64);
                    const tamanho = bytes.length;
                    const arrayBuffer = new Uint8Array(tamanho);

                    for (let i = 0; i < tamanho; i++) {
                        arrayBuffer[i] = bytes.charCodeAt(i);
                    }

                    const blob = new Blob([arrayBuffer], { type: 'application/octet-stream' });

                    // Cria um link temporário para baixar o arquivo
                    const link = document.createElement('a');
                    link.href = URL.createObjectURL(blob);
                    link.download = nomeArquivo + extensao;
                    document.body.appendChild(link);

                    // Simula o clique no link para iniciar o download
                    link.click();

                    // Remove o link temporário
                    document.body.removeChild(link);
                }
                else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }
            },
            error: function (xhr, status, error) {
                console.error('Erro na requisição AJAX!', error);
                ExibirErro('Erro ao salvar as informações.', 'Erro!');
                return;
            }
        });
    }
    
    function carregarDeletarArquivo(CdConteudo, nmConteudo) {
        CdConteudoTemp = CdConteudo;

        $('#backgroundConteudoModal').css('display', 'block');
        $('#divDeletarArquivo').css('display', 'flex');

        $("#nmArquivoDeletar").text(nmConteudo);
        if (window.matchMedia("(max-width: 1200px)").matches) {
            window.location.hash = '#divDeletarArquivo';
        }
    }

    function cancelarDeletarArquivo() {
        $('#backgroundConteudoModal').css('display', 'none');
        $('#divDeletarArquivo').css('display', 'none');

        if (window.matchMedia("(max-width: 1200px)").matches) {
            window.location.hash = '';
        }

        CdConteudoTemp = null;
    }

    function carregarInfoModal(nmArquivo, dsExtensao, dsConteudo) {
        $('#backgroundConteudoModal').css('display', 'block');
        $('#divModalInfoMobile').css('display', 'flex');

        $('#txtNomeArquivoModal').val(nmArquivo);
        $('#txtTipoArquivoModal').val(dsExtensao);
        $('#txtDescricaoArquivoModal').val(dsConteudo);

        $('#txtNomeArquivoModal, #txtTipoArquivoModal, #txtTamanhoArquivoModal, #txtDescricaoArquivoModal')
            .css('background-color', '#DBD8D8')
    }

    function deletarArquivo() {
        $.ajax({
            url: '@Url.Action("ExcluirConteudo", "CadastroConteudo")',
            type: 'POST',
            data: {
                CdConteudo: CdConteudoTemp
            },
            dataType: 'JSON',
            async: true,
            success: function (data) {
                if (data.isSuccess) {
                    ExibirSucesso(data.message, 'Sucesso!');
                }
                else {
                    console.error('Erro interno.', data.message);
                    ExibirErro(data.message, 'Erro!');
                    return;
                }

                $('#backgroundConteudoModal').css('display', 'none');
                $('#divDeletarArquivo').css('display', 'none');

                if (window.matchMedia("(max-width: 1200px)").matches) {
                    window.location.hash = '';
                }

                CdConteudoTemp = null;
                verificarTurma();
                verInfoAula($('#cdAula').val());
            },
            error: function (xhr, status, error) {
                console.error('Erro na requisição AJAX!', error);
                ExibirErro('Erro ao salvar as informações.', 'Erro!');
                return;
            }
        });
    }

    function carregarAdicionarArquivo() {
        $.ajax({
            url: '@Url.Action("CarregarAdicionarArquivo", "CadastroConteudo")',
            type: 'GET',
            async: true,
            success: function (data) {
                $('#_divAdicionarArquivo').html(data);

                $('#backgroundConteudoModal').css('display', 'block');
                $('#divModalAdicionar').css('display', 'flex');

                $('#txtNomeArquivoModal, #txtTipoArquivoModal, #txtTamanhoArquivoModal')
                    .css('background-color', '#DBD8D8')

                $('#txtNomeArquivo, #txtTipoArquivo, #txtTamanhoArquivo')
                    .css('background-color', '#DBD8D8')
            }
        });
    }

</script>
