@using WEB.Models.Response

@model Application.Responses.ResponseModelUsuario

@{
    Layout = null;
    var ListaPermissoesCargo = (List<ResponseModelPermissaoCargo>)ViewBag.ListaPermissoesCargo;
    var ListaPermissoes = (List<ResponseModelPermissao>)ViewBag.ListaPermissoes;
}

<link rel="stylesheet" href="~/css/Permissao/InfoPermissao.css">

<div id="divNomeCargo">
    <h5 class="linear1"><b>@ViewBag.NmCargo</b></h5><br />
</div>

<label id="lblListaPermissao" for="listaPermisso" class="linear1">Permissões:</label>
<div id="listaPermissao">
    @foreach (var item in ListaPermissoes) {
        bool icChecked = ListaPermissoesCargo.Any(x => x.NmPermissao.Contains(item.NmPermissao));
        if (icChecked) {
            <div>
                <div id="dsCargo">@item.NmPermissao</div>
                <input type="checkbox" id="@item.CdPermissao" checked />
            </div>
        } else {
            <div>
                <div id="dsCargo">@item.NmPermissao</div>
                <input type="checkbox" id="@item.CdPermissao"/>
            </div>
        }
    }
</div>

<div id="divBotaoSalvar">
    <button id="btnSalvar" onclick="salvarPermissoesCargo(false, '@ViewBag.CdCargo')"><b>Salvar</b></button>
</div>


<script type="text/javascript">
    $('#cdCargo').html('@ViewBag.CdCargo');
</script>